.nav {
  position: fixed;
  width: 100%;

  background-color: #fcfcfc;
  left: 0px;
  bottom: 0px;
  padding: 15px 50px;
  border-top: 1px solid #f7f7f7;
  box-sizing: border-box;
}
/*nav list안에있는 요소를 정렬하고 싶어서 flex사용*/
.nav .nav__list {
  display: flex;
  justify-content: space-between;
}
.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  font-size: 9px;
  position: absolute;
  top: -4px;
  right: -3px;
  color: white;
  background-color: #dc5d46;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes showNavBar {
  from {
    transform: translateY(70px);
  }
  to {
    transform: none;
  }
}
.nav {
  transform: translateY(70px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.3s;
}
